Title: About
---
<p>Hi, my name is Anoop Venugopalan. I am a software developer living in Copenhagen.</p>

<p>I am a .NET developer and Azure enthusiast. I want to keep learning and always become a better developer.</p>

<p>This blog site is aimed, as a notebook for me, a place were i can jolt down my experiences both tech and otherwise, so it can serve a good way to remind me of things I have learned and encountered</p>

<p>This blog was generated using <a href="https://www.statiq.dev/">Statiq</a> </p>

<image src="\images\anoop.jpg" style="width:30%;height:50%;box-shadow:5px 5px 5px #ccc">

<div class="text-left">
    <a href="https://www.linkedin.com/in/anoop-v"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://github.com/anoop-kv"><i class="fab fa-github" aria-hidden="true"></i></a>
</div>